/*este en un comentario en css*/
/*gonzalez adame bryan josue*/
/*DAW     14/03/2024*/
/*a continuacion le aplicamos css a la acticidad 6(practica5.html) desde un archivo css(practica5.css)*/

#tu{
    color: brown;
    font-family: castellar;
    text-align: center;
}
#dos{
    color: #9A03FE;
    text-align: center;
}
p{
    color: pink;
    font-size: 19px;
}
#foto1{
    width: 200px;
    height: 100px;
}
#versiones{
    color: rgb(255, 0, 0);
    font-family: book antiqua;
}
ul{
    color: darkmagenta;
}
.parte2{
    text-align: right;
    color: blue;
    font-size: 19px;
}
#creadores{
    color: purple;
}
h3{
    color: rgb(0, 255, 234);
}
img{
    width: 300px;
    height: 200px;
}
h6{
    text-align: center;
    color: rgb(67, 245, 67);
    font-family: castellar;
}