/*este en un comentario en css*/
/*gonzalez adame bryan josue*/
/*DAW     14/03/2024*/
/*a continuacion le aplicamos css a la acticidad 10(practica9.html) desde un archivo css(practica9.css)*/

body{
    background-size: 100%;
}
h1{
    font-family: times;
    color: deeppink;
    text-align: center;
}
#yo{
    margin: auto;
    display: block;
    width: 300px;
    height: 300px;
}
img{
    width: 300px;
    height: 200px;
}
#leo{
    width: 200px;
    height: 300px;
    float: right;
}
#piano{
    width: 300px;
    height: 200px;
    margin: auto;
    display: block;
}
#uno{
    color: #BB313C;
    font-size: 19px;
    font-family: didot;
    text-align: center
}
#dos{
    color: #6B5FFF;
    text-align: left;
    font-family: tahoma;
    font-size: 19px;
}
#tres{
    color: #2A7300;
    text-align: right;
    font-family: verdana;
    font-size: 19px;
}
#cuatro{
    color: #3D0093;
    text-align: center;
    font-size: 19px;
    font-family: 'Franklin Gothic Medium';
}
#cinco{
    color: red;
    text-align: right;
    font-size: 19px;
    font-family: 'Lucida Sans';
}
#tabla1{
    font-family: times;
    color: green;
}
#tabla2{
    font-family: times;
    color: purple;
}
#lista1{
    color: red;
    font-family: barkersignet bt;
    font-size: 18px;
    float: left;
}
#lista2{
    color: blue;
    font-family: barkersignet bt;
    font-size: 18px;
    text-align: right;
    list-style-position: inside;
}
h5{
    font-family: times;
    color: blue;
    text-align: right;
}