/*este en un comentario en css*/
/*gonzalez adame bryan josue*/
/*DAW     14/03/2024*/
/*a continuacion le aplicamos css a la acticidad 4(practica3.html) desde un archivo css(practica3.css)*/

h1{
    font-family: didot;
    color: purple;
}
h6{
    font-family: calibri;
    color: blue;
    text-align: right;
}
h2{
    font-family: tahoma;
    color: maroon;
}
.uno{
    text-align: left;
}
.dos{
    text-align: center;
}
.tres{
    text-align: right;
}