/*este en un comentario en css*/
/*gonzalez adame bryan josue*/
/*DAW     14/03/2024*/
/*a continuacion le aplicamos css a la acticidad 9(practica8.html) desde un archivo css(practica8.css)*/

body{
    background-size: 100%;
}
h1{
    font-family: book antiqua;
    color: blue;
}
#foto1{
    width: 300px;
    height: 300px;
}
img{
    width: 300px;
    height: 200px;
}
#uno{
    text-align: center;
    font-family: calibri;
    color: purple;
}
#dos{
    font-family: times new roman;
    color: green;
    text-align: left;
}
#tres{
    font-family: arial;
    color: pink;
    text-align: right;
}
#cuatro{
    color: #581845;
    font-family: book antiqua;
    text-align: center;
}
#cinco{
    color: #DA2600;
    font-family: didot;
    text-align: left;
}
#seis{
    color: #0A00DA;
    font-family: tahoma;
    text-align: right;
}
#siete{
    color: #00DA4F;
    font-family: impact;
    text-align: center;
}
#ocho{
    color: #7A8E0C;
    font-family: verdana;
    text-align: left;
}
#nueve{
    color: #95024B;
    font-family: trebuchet ms;
}
ul{
    color: rgb(98, 0, 255);
    font-family: comic sans ms;
}
.tablita{
    background-color: #05ff65;
}
embed{
    width: 300px;
    height: 200px;
    margin: auto;
    display: block;
}
h6{
    color: blue;
    font-family: calibri;
    text-align: right;
}