/*este en un comentario en css*/
/*gonzalez adame bryan josue*/
/*DAW     14/03/2024*/
/*a continuacion le aplicamos css a la acticidad 3(practica2.html) desde un archivo css(practica2.css)*/

h1{
    font-family: didot;
    color: green;
}
h2{
    font-family: optima;
    color: maroon;
}
h6{
    font-family: calibri;
    color: blue;
    text-align: right;
}
.coro{
    text-align: left;
}
.uno{
    text-align: center;
}
.dos{
    text-align: right;
}