/*este en un comentario en css*/
/*gonzalez adame bryan josue*/
/*DAW     14/03/2024*/
/*a continuacion le aplicamos css a la acticidad 5(practica4.html) desde un archivo css(practica4.css)*/

body{
    background-color: lightcyan;
}
h1{
    font-family: times;
    color: deeppink;
}
h2{
    font-family: book antiqua;
    color: darkmagenta;
}
ul{
    font-family: book antiqua;
    color: purple;
}
.proceso{
    color: red;
    font-family: arial;
    font-size: 13px;
}
h6{
    font-family: calibri;
    color: blue;
    text-align: right;
}
img{
    width: 300px;
    height: 200px;
}
#in{
    color: red;
}
.ti{
    color: aqua;
}
p{
    color: blue;
    font-size: 19px;
}