/*este en un comentario en css*/
/*gonzalez adame bryan josue*/
/*DAW     14/03/2024*/
/*a continuacion le aplicamos css a la acticidad 8(practica7.html) desde un archivo css(practica7.css)*/

body{
    background-color: #333;
}
img{
    width: 300px;
    height: 200px;
    display: block;
    margin: auto;
}
embed{
    width: 300px;
    height: 200px;
    float: left;
}
h1{
    color: yellow;
    font-family: american bt;
    text-align: center;
}
.red{
    color:red;
    font-family: barkersignet bt;
    font-size: 19px;
}
.blue{
    color:blue;
    font-family: barkersignet bt;
    font-size: 19px;
}
.rosa{
    color:pink;
    font-family: barkersignet bt;
    font-size: 19px;
}
.verde{
    color:green;
    font-family: barkersignet bt;
    font-size: 19px;
}
#foto1{
    float: left;
}
ol{
    list-style-position: inside;
    text-align: right;
}
h6{
    color: blue;
    font-family: calibri;
    text-align: right;
}