/*este en un comentario en css*/


/*gonzalez adame bryan josue*/


/*DAW     14/03/2024*/


/*a continuacion le aplicamos css a la acticidad 2(practica1.html) desde un archivo css(practica1.css)*/

h1 {
    font-family: hervetica;
    color: purple;
}

h2 {
 font-family: Courier New;
 color: navy;
}
h4{
    font-family: Calibri;
    color: teal;
}
h5{
    font-family: calibri;
    color: maroon;
    text-align: left;
}
h6{
    font-family: calibri;
    color: blue;
    text-align: right;
}
table{
    
}