/*este es un comentario en css*/
/*gonzalez adame bryan josue*/
/*daw fecha:9/4/2024*/
/*a continuacion le aplicaremos css a la actividad 15(practica14.html) desde un archivo css(practica14.css)*/

h1{
    font-family: castellar;
    color: blue;
}
h3.red{
    text-align: right;
    color: red;
}
h3.yellow{
    text-align: right;
    color: yellow;
}
img{
    width: 50px;
    height: 50px;
}
b.red{
    color: red;
}
b.yellow{
    color: yellow;
}
h6{
    font-family: castellar;
    color: blue;
}
h3#tabla{
    color: green;
}